
$theme-dark-primary-color: lime;
$theme-dark-background-color: #111;
$theme-light-primary-color: green;
$theme-light-background-color: #ccc;
$theme-dark-background2-color: #222;
$theme-light-background2-color: #f2f2f2;